.dashboard-content {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

@media (min-width: 2000px) {
	.dashboard-content {
		grid-template-columns: 60% 39%;
	}

	.dashboard-columm {
		width: auto;
	}
}

.dashboard-columm {
	width: 100%;
}
