#registry=https://repo.cci.nokia.net/api/npm/npm-remote
registry=https://repo.cci.nokia.net/artifactory/api/npm/csf-assured-oss-npm-releases
@nokia-csf-uxr:registry=https://repo.cci.nokia.net/artifactory/api/npm/csf-npm-candidates
#@nokia-csf-uxr:registry=https://repo.cci.nokia.net/api/npm/csf-npm-candidates
engine-strict=true
legacy-peer-deps=true/:
